.navbar-brand strong {
  color: #fff;
}

ul ul {
  margin-left: 15px;
}

button.css-n1sq7h {
  background: transparent;
  border: none;
}

button svg {
  display: none;
}

.anchor-link {
  display: none;
  font-size: 12px;
}

h2:hover .anchor-link, h3:hover .anchor-link, h4:hover .anchor-link, h5:hover .anchor-link {
  display: inline;
}

.collapsible .glyphicon {
  display: none;
}

.course-list {
  padding-left: 5px;
  list-style-type: none;
}
ul.course-list li a {
  margin-left: 15px;
}

ul.course-list .course-concentration-divider {
  margin-left: -5px;
  font-weight: bold;
  padding: 10px 0;
}

#catalog-archive-navigation ul {
  padding-left: 5px;
  list-style-type: none !important;
}
